<!DOCTYPE html>
<html>
  <head>
    <title><%=@cat.name%> Cat!!</title>
  </head>
  <body>
    <h1><%= @cat.name %></h1>
    <br>
    <br>
    <table border="1">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Color</th>
        <th>Birth Date</th>
    </tr>

      <tr><td><%= "#{@cat.name}" %></td>
      <td><%= "#{@cat.age}" %> </td>
      <td><%= "#{@cat.sex}" %></td>
      <td><%= "#{@cat.color}" %></td>
      <td><%= "#{@cat.birth_date}" %></td></tr>


    </table>
  </body>
</html>