<!DOCTYPE html>
<html>
<head>
  <title>Ninetyninecats</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
  <% if current_user.nil? %>
    <%= link_to("Sign up", new_user_url) %>
    <br>
    <%= link_to("log in", new_session_url) %>
  <% else %>
    <%= "welcome to 99cats " +  current_user.user_name %>
    <%= button_to("log out", session_url, method: :delete)%>
  <% end %>


<%= yield %>

</body>
</html>
